.container {
    padding: 16px;
    width: 100%;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .search-imput {
    width: 50%;
  }