<mat-card class="cardWithShadow theme-card" style="margin-bottom: 10px;">
    <mat-card-header>
      <div class="header-container">
        <!-- Botón de Volver -->
        <button 
          mat-flat-button 
          color="primary" 
          (click)="volver()"
        >
          <i-tabler class="custom-icon" name="arrow-left"></i-tabler>
          <span class="button-text">Volver</span>
        </button>
  
        <!-- Texto al lado del botón -->
        <span class="header-text">Modelos de {{ marca.marca }}</span>
      </div>
    </mat-card-header>
  </mat-card>
  



  <mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
        <div class="row">
            <div class="col-md-12">
                <div class="row">


                    <div class="container">
                       
                          <div class="header">
                            <mat-form-field appearance="outline">
                              <mat-label>Buscar Modelo</mat-label>
                              <input matInput [(ngModel)]="palabraClave" (keyup)="callData()" placeholder="Escribe aquí..." />
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="agregarModelo()">Agregar Modelo</button>
                          </div>
                      
                    </div>
                          <table mat-table [dataSource]="modelos" matSort>
                      
                            <!-- Columna Marca -->
                            <ng-container matColumnDef="modelo">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</th>
                              <td mat-cell *matCellDef="let modelo">{{ modelo.modelo }}</td>
                            </ng-container>
                      
                        
                      
                            <!-- Columna Acciones -->
                            <ng-container matColumnDef="acciones">
                              <th mat-header-cell class="acciones-header" *matHeaderCellDef>Acciones</th>
                              <td mat-cell class="acciones-cell" *matCellDef="let modelo">
                                <button mat-icon-button color="primary" (click)="editarModelo(modelo)">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" (click)="eliminarModelo(modelo.id)">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </td>
                            </ng-container>
                      
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                      
                          <!-- Paginador -->
                          <mat-paginator [length]="length" [pageSize]="12" [pageSizeOptions]="[5, 10, 20]" (page)="getServerData($event)">
                          </mat-paginator>

                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>


  