.header-with-button {
    display: flex; /* Utiliza flexbox para organizar elementos */
    align-items: center; /* Centra verticalmente el título y el botón */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.header-with-button button {
    margin-left: auto; /* Empuja el botón hacia el extremo derecho */
}


::ng-deep .mdc-button__label {
    display: flex; /* Asegura que el ícono y el texto se alineen correctamente */
    align-items: flex-start; /* Alinea el contenido hacia la parte superior */
    gap: 4px; /* Espacio entre el ícono y el texto */
}
  
.button-text {
    font-size: 14px; /* Ajusta el tamaño del texto */
    position: relative;
    font-weight: bold;
    top: 1px; /* Mueve el texto ligeramente hacia arriba */
}

.container {
    padding: 16px;
    width: 100%;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  mat-form-field {
    width: 50%;
  }
  
/* Alinea todo el contenido de la última columna al lado derecho */
.acciones-header,
.acciones-cell {
  text-align: right; /* Alinea texto y botones al lado derecho */
}

.acciones-cell {
  display: flex;
  justify-content: flex-end; /* Alinea los botones dentro de la celda */
}


.header-container {
  display: flex;
  align-items: center; /* Alinea el botón y el texto verticalmente */
  gap: 15px; /* Espacio entre el botón y el texto */
}

.header-text {
  font-size: 16px; /* Tamaño de texto */
  font-weight: 500; /* Ajusta el grosor si es necesario */
  color: var(--primary-text-color); /* Usa un color adecuado */
}