.container {
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  mat-form-field {
    width: 400px;
  }


  @media only screen and (max-device-width : 480px) {
  
    mat-form-field {
      width: 200px;
    }

  }
  
  
/* Alinea todo el contenido de la última columna al lado derecho */
.acciones-header,
.acciones-cell {
  text-align: right; /* Alinea texto y botones al lado derecho */
}

.acciones-cell {
  justify-content: flex-end; /* Alinea los botones dentro de la celda */
}