<mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
        <div class="row">
            <div class="col-md-12">

                

                <div class="row">
                    <div class="container" style="text-align: center;">
                        <h2 style="margin-top: 0px;color: #022A76;">Locales Asociados</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="container" style="text-align: center;">
                       
                        <div class="header">
                          <mat-form-field appearance="outline">
                            <mat-label>Que Servicio Necesito</mat-label>
                            <input matInput [(ngModel)]="palabraClave"
                            (keydown.enter)="callData()"
                             placeholder="Escribe aquí..." />
                          </mat-form-field>
                          <button mat-raised-button color="primary"
                          (click)="callData()"
                           style="height: 50px;
                                margin-top: -80px;
                                margin-left: 10px;" >
                            <i-tabler class="custom-icon" name="search"></i-tabler>
                          </button>
                        </div>
                    
                  </div>
                </div>

                <div *ngIf="!hasUbicacion" class="container" style="text-align: center;">
                    <div >
                        <h4 style="margin-top: 0px;color: #FF6319;"> Está App requiere de su localización para funcionar correctamente! Por favor, habilítalos desde la configuración del navegador.</h4>
                          
                    </div>
                </div>
                
                <div class="row">
                    
                    @for(taller of talleres; track taller.nombre) {
                    <div class="col-sm-6 col-lg-3">
                        <mat-card class="cardWithShadow taller overflow-hidden" (click)="navigateTo(taller.id)" style="cursor: pointer;">
                            <a>
                                <img src="{{ taller.img }}" alt="imgSrc" class="w-100" style="height: 200px;" mat-card-image />
                            </a>
                            <mat-card-content class="p-b-24 p-t-12 position-relative" style="padding: 10px;">
                                <!-- <button mat-mini-fab color="primary" class="icon-30 cart-btn" matTooltip="Add to Cart">
                                    <i-tabler name="map-pin" class="icon-16"></i-tabler>
                                </button> -->
                                <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
                                    taller.nombre
                                    }}</mat-card-title>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h6 class="mat-body-2 f-w-600"> <i-tabler name="map-pin" class="icon-16"></i-tabler> {{ taller.direccion }}</h6>
                                        
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between" *ngIf="taller.distancia">
                                    <div class="d-flex align-items-center">
                                        <h6 class="mat-body-2 f-w-400"> {{ taller.distancia | number:'1.1-1' }} km de distancia</h6>
                                    </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    }
                </div>
            
                <div class="paginator-container">
                    <mat-paginator
                        [length]="length"
                        [pageIndex]="pageIndex"
                        
                        [pageSizeOptions]="[12, 24, 36]"
                        [showFirstLastButtons]="false"
                        (page)="getServerData($event)">
                    </mat-paginator>
                </div>
                

            </div>
        </div>
      </mat-card-content>
</mat-card>
  


