<mat-card-content>
  <form [formGroup]="carForm" >
    <!-- Patente y Botón de búsqueda -->
    <div class="form-row">
      <div style="width: 200px; display: inline-block;">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Patente</mat-label>
          <input
            matInput
            formControlName="patente"
            maxlength="6"
            (input)="onPatenteInput($event)"
          />
          <mat-error *ngIf="carForm.get('patente')?.invalid">
            Patente inválida. Solo se permiten 8 caracteres alfanuméricos.
          </mat-error>
        </mat-form-field>
      </div>
      <div style="width: 20%; display: inline-block;">
        <button
          mat-flat-button
          color="primary"
          class="search-button"
          (click)="checkPatente()"
        >
          <i-tabler class="custom-icon" name="search"></i-tabler>
        </button>
      </div>
    </div>

    <!-- Mostrar el resto del formulario solo si la patente no existe -->
    <div *ngIf="!carExists" class="grid-container">
      <!-- Marca -->
      <mat-form-field ppearance="fill" class="full-width">
        <mat-label>Marca</mat-label>
        <input
          matInput
          formControlName="marca"
          [matAutocomplete]="marcaAuto"
          [value]="selectedMarca ? selectedMarca.marca : ''"
          (input)="onMarcaInput($event)"
        />
        <mat-autocomplete 
          #marcaAuto="matAutocomplete" 
          [displayWith]="displayMarca"
          (optionSelected)="onMarcaChange($event.option.value)">
          <mat-option *ngFor="let marca of marcasFiltradas | async" [value]="marca" >
            {{ marca.marca }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Modelo -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Modelo</mat-label>
        <input
          matInput
          formControlName="modelo"
          [matAutocomplete]="autoModelo"
          [value]="selectedModelo ? selectedModelo.modelo : ''"
          (input)="onModeloInput($event)"
        />
        <mat-autocomplete
          #autoModelo="matAutocomplete"
          [displayWith]="displayModelo"
          (optionSelected)="onModeloChange($event.option.value)"
        >
          <mat-option *ngFor="let modelo of (modelosFiltrados | async)" [value]="modelo" >
            {{ modelo.modelo }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Tipo de Vehículo -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo de Vehículo</mat-label>
        <input
          matInput
          formControlName="tipoVehiculo"
          [matAutocomplete]="tipoVehiculoAC"
          [value]="selectedVehicleType ? selectedVehicleType.vehicleTypeName : ''"
          (input)="onTipoVehiculoInput($event)"
        />
        <mat-autocomplete
          #tipoVehiculoAC="matAutocomplete"
          [displayWith]="displayTipoVehiculo"
          (optionSelected)="onTipoVehiculoChange($event.option.value)"
          (focus)="onTipoVehiculoInput($event)"
        >
          <mat-option *ngFor="let vehicleType of (tipoVehiculoFiltrados | async)" [value]="vehicleType" >
            {{ vehicleType.vehicleTypeName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Tipo de Combustible -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo de Combustible</mat-label>
        <input
          matInput
          formControlName="tipoCombustible"
          [matAutocomplete]="tipoCombustibleAC"
          [value]="selectedCombustibleType ? selectedCombustibleType.combustibleName : ''"
          (input)="onTipoCombustibleInput($event)"
        />
        <mat-autocomplete
          #tipoCombustibleAC="matAutocomplete"
          [displayWith]="displayTipoCombustible"
          (optionSelected)="onTipoCombustibleChange($event.option.value)"
          (focus)="onTipoCombustibleInput($event)"
        >
          <mat-option *ngFor="let combustibleType of (tipoCombustibleFiltrados | async)" [value]="combustibleType" >
            {{ combustibleType.combustibleName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Año -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Año</mat-label>
        <input
          matInput
          type="number"
          formControlName="anio"
          min="1900"
          [max]="currentYear"
        />
      </mat-form-field>
    </div>
  </form>

  <div class="row align-items-end button-container">

      <!-- Botón Guardar -->
      <button mat-flat-button color="primary" type="button" (click)="guardar()" [disabled]="carForm.invalid">
        <span class="button-text">Siguiente</span>
        <i-tabler class="custom-icon" name="arrow-right"></i-tabler>
      </button>
  </div>

</mat-card-content>
