.mat-form-field {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  .search-button {
    padding: 16px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 0px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* Opcional: para separar el botón del contenido */
  }
